/* --space-cadet: #2d3142ff;
--silver: #bfc0c0ff;
--white: #ffffffff;
--mandarin: #ef8354ff;
--black-coral: #4f5d75ff; */


body{
    background:#4f5d75ff; 
    font-family: Nunito, sans-serif;
    color:#ffffffff;
    overflow-x:hidden;
}

#mainnav {
    font-size:1.5rem; 
    font-weight:100; 
}

#mainnav .nav-link {
    color:white; 
}

#mainnav .nav-link:hover {
    color:#EA1C2C; 
}

#mainnav .navbar-brand{
    color:#bfc0c0ff; 
    font-size:1.5rem; 
    font-weight:100; 
}

h1 {
    font-weight:100; 
    font-size:3rem; 
    color: #bfc0c0ff;

}

.navbar.scrolled {
    background: #2d3142ff; 
    /* changes bg of navbar when user scrolls */
    transition: background 500ms;
    /* fades bg in*/
} 

@media only screen and (max-width: 1200px) {
    h1 {
        font-weight:100; 
        font-size:2rem; 
    }

}

.blurb h2{
    font-weight: 100;
    font-size:2rem; 
    color:#EA1C2C; 
}

.blurb p{
    color:#f498b8; 
    font-weight: 100;
    font-size: 1.25rem;
}

.content{
    margin-top: 100px;
}

#slash1{
    color:#F60000; 
}
#slash2{
    color:#FF8C00; 
}
#slash3{
    color:#FFEE00;
}
#slash4{
    color:#4de94c; 
}
#slash5{
    color:#3783ff; 
}
#slash6{
    color:#4815aa; 
}

.testText{
    font-size: 100px;
}

.bio{
    
    color:white;
}

img{
    object-fit:cover;
}

.cv{
    color:#bfc0c0ff
}

.title{
    color: #ffffffff;

}

#footer{
    font-size:.5rem;
    display: inline;
}

a {
    color: #F60000
}



